#index{
  background: black  url("nintendo2.png") no-repeat scroll top;
  position: relative;
  padding-right: 300px;
  margin-left: 100px;
}
ul.nav.navbar{
  margin: 0px;
  padding-left: 100px;

}
#greg{
    font-family: 'Press Start 2P';
  color: #33FF00;
}
#Gregpic{
  height: 260px;
  width: auto;

}
#bigtv-description{
  font-family: 'Press Start 2P';
  color: #33FF00;
  font-size: 25px;
  padding-left: 25px;
  padding-top: 75px;

}
#medtv-description{

  font-family: 'Press Start 2P';
  color: #33FF00;
  font-size: 25px;
  padding-left: 150px;
  padding-top: 75px;

}
#container{
  font-family: 'Press Start 2P';
  color:black;

  text-align:left;


}
#gameboyscreen{
  position: absolute;
}
ul {
  font-family: 'Press Start 2P';
  list-style-type: none;
  margin-left:350px;
  padding-left: : 250px;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: #ffe3ab;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


#aboutme{
  background: black;
  text-align: center;
}
#aboutme#container{
  padding-right: 200px;
}


#oldtv{
padding-top: 85px;

}

#oldtv2{
  padding-top: 100px;
  padding-left: 0px;
  height: 450px




}
#oldtv3{
  padding-top: 100px;
  padding-right: 0px;
  height: 450px;
}
.index-header a{
  color:black;

}


ul {
  font-family: 'Press Start 2P';
  list-style-type: none;
  margin-left:450px;
  padding-left:250px;
  overflow: hidden;

}

li {
  float: left;
}

li a {
  display: block;
  color: #33FF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.contact-list{
  color: #FFD700;

}

#contact-body{
  background: black url("spaceinvaders") no-repeat scroll top;
}
#pictext{
  padding-top: 25px;
}
.intro {
  max-width: 800px;
  padding: 10px;
}
.demo {
  margin: 10px;
  padding-left:450px;

  background-color: #000;
}
.space {
  float: left;
  color: #fff;
  width: 260px;
}
.space>span {
  margin-left: 20px;
}
.space-invader {
  border: 2px solid #fff;
  background-color: #fff;
  float: left;
  width: 0.25em;
  height: 0.25em;
  margin: 40px 40px;
}
.space-invader-defender {
  box-shadow:
    0 0 0 .25em #fff,
    .625em 0 0 .25em #fff,
    -.625em 0 0 .25em #fff,
    1em .0625em 0 .1875em #fff,
    -1em .0625em 0 .1875em #fff,
    0 -.25em 0 .25em #fff,
    0 -.625em 0 0 #fff;
}
.space-invader-ufo {
  box-shadow:
    /* Body */
    -.25em -.625em 0 .125em #fff,
    .25em -.625em 0 .125em #fff,
    -.25em -.375em 0 .125em #fff,
    -.75em -.375em 0 .125em #fff,
    -1em -.375em 0 .125em #fff,
    .25em -.375em 0 .125em #fff,
    .75em -.375em 0 .125em #fff,
    1em -.375em 0 .125em #fff,
    0 .125em 0 .125em #fff,
    -.75em .125em 0 .125em #fff,
    .75em .125em 0 .125em #fff,
    -.375em .25em 0 0 #fff,
    -1.125em .25em 0 0 #fff,
    .375em .25em 0 0 #fff,
    1.125em .25em 0 0 #fff,
    1.375em -.25em 0 0 #fff,
    1.5em .125em 0 .125em #fff,
    1.875em .25em 0 0 #fff,
    -1.375em -.25em 0 0 #fff,
    -1.5em .125em 0 .125em #fff,
    -1.875em .25em 0 0 #fff,
    0 .375em 0 .125em #fff,
    1.25em .375em 0 .125em #fff,
    1em .375em 0 .125em #fff,
    1.125em .75em 0 0 #fff,
    -1.25em .375em 0 .125em #fff,
    -1em .375em 0 .125em #fff,
    -1.125em .75em 0 0 #fff;
}
.space-invader-1 {
  box-shadow:
    0 0 0 .25em #fff,
    0 .25em 0 .25em #fff,
    -.625em .375em 0 .125em #fff,
    .625em .375em 0 .125em #fff,
    -.75em -.75em 0 0 #fff,
    .75em -.75em 0 0 #fff,
    -.5em -.5em 0 0 #fff,
    .5em -.5em 0 0 #fff,
    -.75em -.25em 0 0 #fff,
    -.5em -.25em 0 0 #fff,
    .5em -.25em 0 0 #fff,
    .75em -.25em 0 0 #fff,
    -1em 0 0 0 #fff,
    -.75em 0 0 0 #fff,
    .75em 0 0 0 #fff,
    1em 0 0 0 #fff,
    -1em .25em 0 0 #fff,
    1em .25em 0 0 #fff,
    -.75em .75em 0 0 #fff,
    .75em .75em 0 0 #fff,
    /* Left Arm */
    1.25em .25em 0 0 #fff,
    1.25em .5em 0 0 #fff,
    1.25em .75em 0 0 #fff,
    /* Right Arm */
    -1.25em .25em 0 0 #fff,
    -1.25em .5em 0 0 #fff,
    -1.25em .75em 0 0 #fff,
    /* Left Foot */
    -.25em 1em 0 0 #fff,
    -.5em 1em 0 0 #fff,
    /* Right Foot */
    .25em 1em 0 0 #fff,
    .5em 1em 0 0 #fff;
}
.space-invader-2 {
  box-shadow:
    /* Body */
    -.125em -.5em 0 .25em #fff,
    .125em -.5em 0 .25em #fff,
    -.75em -.375em 0 .125em #fff,
    -.875em -.375em 0 .125em #fff,
    .75em -.375em 0 .125em #fff,
    .875em -.375em 0 .125em #fff,
    -1em 0 0 .25em #fff,
    1em 0 0 .25em #fff,
    -.5em .25em 0 0 #fff,
    -.25em .25em 0 0 #fff,
    0 .25em 0 0 #fff,
    .25em .25em 0 0 #fff,
    .5em .25em 0 0 #fff,
    /* Crotch */
    .3125em .5em 0 0 #fff,
    .5em .5em 0 0 #fff,
    .5em .5em 0 0 #fff,
    -.3125em .5em 0 0 #fff,
    -.5em .5em 0 0 #fff,
    -.5em .5em 0 0 #fff,
    .0625em .75em 0 0 #fff,
    -.0625em .75em 0 0 #fff,
    /* Right Leg */
    -.625em .75em 0 0 #fff,
    -.8125em .75em 0 0 #fff,
    -1.0625em 1em 0 0 #fff,
    -1.25em 1em 0 0 #fff,
    /* Left Leg */
    .625em .75em 0 0 #fff,
    .8125em .75em 0 0 #fff,
    1.0625em 1em 0 0 #fff,
    1.25em 1em 0 0 #fff;
}
.space-invader-3 {
  box-shadow:
    /* Body */
    0 -.625em 0 .125em #fff,
    -.25em -.375em 0 .125em #fff,
    .25em -.375em 0 .125em #fff,
    .625em -.25em 0 0 #fff,
    -.625em -.25em 0 0 #fff,
    0 .125em 0 .125em #fff,
    -.75em .125em 0 .125em #fff,
    .75em .125em 0 .125em #fff,
    .375em .25em 0 0 #fff,
    -.375em .25em 0 0 #fff,
    /* Crotch */
    .125em .5em 0 0 #fff,
    -.125em .5em 0 0 #fff,
    /* Right Leg */
    -.625em .5em 0 0 #fff,
    -.875em .75em 0 0 #fff,
    -.625em 1em 0 0 #fff,
    -.625em 1em 0 0 #fff,
    /* Left Leg */
    .625em .5em 0 0 #fff,
    .875em .75em 0 0 #fff,
    .625em 1em 0 0 #fff,
    .625em 1em 0 0 #fff;
}

.space-invader.animate {
  animation: 1s infinite;
}
.space-invader.classic {
  animation: 1s step-end infinite;
}
.space-invader-1.animate,
.space-invader-1.classic {
  animation-name: space-invader-1;
}
.space-invader-2.animate,
.space-invader-2.classic {
  animation-name: space-invader-2;
}
.space-invader-3.animate,
.space-invader-3.classic {
  animation-name: space-invader-3;
}

@keyframes space-invader-1 {
  50% {
    box-shadow:
      0 0 0 .25em #fff,
      0 .25em 0 .25em #fff,
      -.625em .375em 0 .125em #fff,
      .625em .375em 0 .125em #fff,
      -.75em -.75em 0 0 #fff,
      .75em -.75em 0 0 #fff,
      -.5em -.5em 0 0 #fff,
      .5em -.5em 0 0 #fff,
      -.75em -.25em 0 0 #fff,
      -.5em -.25em 0 0 #fff,
      .5em -.25em 0 0 #fff,
      .75em -.25em 0 0 #fff,
      -1em 0 0 0 #fff,
      -.75em 0 0 0 #fff,
      .75em 0 0 0 #fff,
      1em 0 0 0 #fff,
      -1em .25em 0 0 #fff,
      1em .25em 0 0 #fff,
      -.75em .75em 0 0 #fff,
      .75em .75em 0 0 #fff,
      /* Left Arm */
      1.25em 0 0 0 #fff,
      1.25em -.25em 0 0 #fff,
      1.25em -.5em 0 0 #fff,
      /* Right Arm */
      -1.25em 0 0 0 #fff,
      -1.25em -.25em 0 0 #fff,
      -1.25em -.5em 0 0 #fff,
      /* Left Foot */
      -1em 1em 0 0 #fff,
      -1em 1em 0 0 #fff,
      /* Right Foot */
      1em 1em 0 0 #fff,
      1em 1em 0 0 #fff;
  }
}

@keyframes space-invader-2 {
  50% {
    box-shadow:
      /* Body */
      -.125em -.5em 0 .25em #fff,
      .125em -.5em 0 .25em #fff,
      -.75em -.375em 0 .125em #fff,
      -.875em -.375em 0 .125em #fff,
      .75em -.375em 0 .125em #fff,
      .875em -.375em 0 .125em #fff,
      -1em 0 0 .25em #fff,
      1em 0 0 .25em #fff,
      -.5em .25em 0 0 #fff,
      -.25em .25em 0 0 #fff,
      0 .25em 0 0 #fff,
      .25em .25em 0 0 #fff,
      .5em .25em 0 0 #fff,
      /* Crotch */
      .3125em .5em 0 0 #fff,
      .5em .5em 0 0 #fff,
      .625em .5em 0 0 #fff,
      -.3125em .5em 0 0 #fff,
      -.5em .5em 0 0 #fff,
      -.625em .5em 0 0 #fff,
      .0625em .75em 0 0 #fff,
      -.0625em .75em 0 0 #fff,
      /* Right Leg */
      -.75em .75em 0 0 #fff,
      -.9375em .75em 0 0 #fff,
      -.75em 1em 0 0 #fff,
      -.5em 1em 0 0 #fff,
      /* Left Leg */
      .75em .75em 0 0 #fff,
      .9375em .75em 0 0 #fff,
      .75em 1em 0 0 #fff,
      .5em 1em 0 0 #fff;
  }
}

@keyframes space-invader-3 {
  50% {
    box-shadow:
    /* Body */
    0 -.625em 0 .125em #fff,
    -.25em -.375em 0 .125em #fff,
    .25em -.375em 0 .125em #fff,
    .625em -.25em 0 0 #fff,
    -.625em -.25em 0 0 #fff,
    0 .125em 0 .125em #fff,
    -.75em .125em 0 .125em #fff,
    .75em .125em 0 .125em #fff,
    .375em .25em 0 0 #fff,
    -.375em .25em 0 0 #fff,
      /* Crotch */
    .125em .5em 0 0 #fff,
    -.125em .5em 0 0 #fff,
      /* Right Leg */
      -.375em .5em 0 0 #fff,
      -.625em .75em 0 0 #fff,
      -.875em 1em 0 0 #fff,
      -.375em 1em 0 0 #fff,
      /* Left Leg */
      .375em .5em 0 0 #fff,
      .625em .75em 0 0 #fff,
      .875em 1em 0 0 #fff,
      .375em 1em 0 0 #fff;
  }
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: vertical;
}

input[type=submit] {
  background-color:#33FF00;
  color: black;
  padding: 10px 10px;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  font-family: 'Press Start 2P';
  color: #33FF00;
  background-color: #FFD700;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#formbody{
  padding-left: 150px;
}
.fontfam{
  font-family: 'Press Start 2P';
  color: #33FF00;
}
.fontfam2{
  font-family: 'Press Start 2P';
  color: black;
}
#contact-title{
  padding-left: 250px;
  font-family: 'Press Start 2P';
    color: #33FF00;
}
#daytripimag{
  height: 400px;
  width: auto;

}
#contact-body{
  background-color: black;
}
#portfolio-body{
  background-color: white;
}
.portfolio{
  font-family: 'Press Start 2P';
  color: black;
}
#trip-text{
  font-family: 'Press Start 2P';

}
#trip-text-paragraph{
  font-family: 'Press Start 2P';
  padding-right: 50px;
}
#trip-text-master{
  font-family: 'Press Start 2P';
  padding-top: 150px;

}
#prsls-img{
  height: 700px;
  padding-left: 47px;


}
#police-img{
  height: 400px;
  padding-left: 110px;

}
#prsls-text-master{
  padding-top: 150px;
  padding-left: 50px;
}
#mostwanted-text-master{
  font-family: 'Press Start 2P';
  padding-top: 150px;
  padding-left: 150px;
}
#mostwanted-text{
  font-family: 'Press Start 2P';
  padding-left: 160px;
}#comingsoon4{

  padding-top: 160px;
  padding-left: 110px;
}
#comingsoon4-img{
  height: 400px;
}
@media (max-width: 600px){
#pictext{font-family: 'Overpass Mono', monospace;
  font-size: 1.50em;}
#container{
  height: 1.25em;
  flex-direction: column;
  text-align: center;
}
#container.mx-auto{
  height: 1.25em;
  flex-direction: column;
  text-align: center;
}
#index{
  background-image:url(gameboyresize3.png);
  background-color: white;
}
}
